:root { font: 20px/1.2 "Roboto", sans-serif; }

body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

article {
    display: grid;
    grid-template-columns: 1fr 20px [start] 50px 800px 50px [end] 20px 1fr;

    height: 100vh;

    padding: 10px 0;

    background: linear-gradient(hsl(55, 100%, 96%),white 6.55rem);

}

article * {
    grid-column: start/end;
}

@media (max-width: 900px){
    article { grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr; }

}

.size-1{ grid-column: 4/5;}
.size-2{ grid-column: 3/6;}
.size-3{ grid-column: 2/7;}
.size-4{ grid-column: 1/8;}

img.size-1, img.size-2, img.size-3, img.size-4 {width:100%;}