body{
    text-align: center;
}
main{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
#app{
    background-color: #0d99a5;
    border-radius: 5%;
    padding: 30px;
}
#tall{
    font-size: 256px;
    font-weight: bolder;
}
.knapp{ /* Stil på knappene */
    width: 100px;
    height: 100px;
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 64px;
}
